@import "bootstrap-sprockets";
@import "bootstrap";

.record-enter {
  opacity: 0.01;
}

.record-enter.record-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.record-leave {
  opacity: 1;
}

.record-leave.record-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.amountCell{
	border-radius: 15px;
}

.table{
	table-layout: fixed;
	word-wrap: break-word;
	background-color: white;
	margin-left: 0;
	margin-right: 0;
}

.shadowed{
	box-shadow: -2px 1px 5px 0 rgba(0, 0, 0, .5);
}

.container-fluid{
	background-color: #f1f3f3;
	height: 100%;

}

html, body{
	height: 100%;
}

.green{
	color: green;
}

.red{
	color: red;
}

h1{
	font-weight: bold;
   margin-top: 0;
   margin-bottom: 0;
}

hr{
	border-color: silver;
   margin-top: 0;
   margin-bottom: 0;
}

.dashImage{
   cursor: pointer;
}
